
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div> 
        <h2>Home Controller - Show View</h2>
    </div>
</body>
</html>
